# Angular
node_modules/
dist/
.angular/
.ng-cache/
*.log
.env

# Eclipse/STS
.metadata/
.settings/
.classpath
.project
.factorypath
sts-4.32.1.RELEASE/

# Backups
xBackupBackend/
xBackupDeFrontend/

# Outros
lombok.jar
target/
*.class


